body{
  background-color: #fffacc;
  margin: 0;
}
#nav-list li {
  display: inline-block;
}
#navhome {
  padding: 3px ;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f3f3f3;
}
.right{
  float:left;
  padding: 18px 12px;
}
li a {
    display: block;
    color: #666;
    text-align: center;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;

}
li a:hover:not(.active) {
    background-color: #ddd;
}
li a.active {
    color: white;
    background-color: #4CAF50;
}
h1{
  margin-left: 0px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 25% 75%;
  background-color: #2196F3;
  margin: 3%;
}
.grid-item {
  background-color: #fffacc;
  padding: 20px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
#quote {
  text-align: center;
  margin-top: -1%;
}

#describe{
  text-align: left;
  padding-left: 10px;
  margin-top: -2%;
}
#content {
  position: relative;
}
#content img {
  position:fixed;
  top:58px;
  left:auto;
  right:0;
  z-index:100;
  height: 200px;
  width: 200px;
}
#content2 {
  position: relative;
}
#content2 img {
  position:fixed;
  top:58px;
  left:0;
  right:auto;
  z-index:100;
  height: 200px;
  width: 200px;
}
#content3 {
  position: relative;
}
#content3 img {
  position:fixed;
  bottom:0px;
  left:0;
  right:auto;
  z-index:100;
  height: 200px;
  width: 200px;
}
#content4 {
  position: relative;
}
#content4 img {
  position:fixed;
  bottom:0px;
  left:auto;
  right:0;
  z-index:100;
  height: 200px;
  width: 200px;
}

#rcol{
  margin-left: 10%;
}

#lcol{
  margin-right: 10%;
}

.grid-item img{
  border-radius: 10px;

}
