body{
  background-color: #ebe7e1;
  margin-top: 25px;
  margin-left: 10px;
}
}
#nav-list li {
  display: inline-block;
}

#nav-list{
  padding: 3px ;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f3f3f3;
}

#navhome {
  padding: 3px;
  
}
  
  
.right{
  float:right;
  padding: 18px 12px;
}
li a {
    display: block;
    color: #666;
    text-align: center;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #ddd;
}
li a.active {
    color: white;
    background-color: #4CAF50;
}
.column {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

row{
  padding-left: 20%;
}
h1 {
  margin-left: 20%;
}

ul.square {
    list-style-type: square;
}
