body{
  background-color: #ccfcff;

}

#logo {
  max-width: 300%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

.centerImage {
  text-align:center;
  display:block;
}
