body{
  background-color: #ccfcff;

}

#logo {
  width: 100%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

.centerImage {
  text-align:center;
  display:block;
}
