.circle {
    width: 280px;
    height: 280px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin-top: 3%;
    margin-right: 10%;
    font-size: 50px;
    color: #fff;
    text-align: center;

}

#text{
  margin-top:36%;
  font-family: 'Parisienne', cursive;

}

.circle-text {
display: table-cell;
height: 280px;
width: 280px;
margin-top: 5%;
text-align: center;
vertical-align: middle;
border-radius: 50%;

}

#circ {
  margin-right: 5%;
}

#circa {
  margin-left:17%;
}

.row{
  clear:left;
}


#grid {
  margin-left: 10%;
}

