.circle {
    width: 25%;
    padding-top: 10%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin-top: 3%;
    margin-right: 10%;
    font-size: 50px;
    position: relative;
    text-align: center;


}

#text{
  padding-bottom: 30%;
  margin-top: -2%;
  font-family: 'Parisienne', cursive;
  color: white;


}

.circle-text {
display: table-cell;
height: 280px;
width: 280px;
margin-top: 5%;
text-align: center;
vertical-align: middle;
border-radius: 50%;

}

#firstrow {
  margin-left: 30%;
  margin-right: auto;
}
#circ {
  margin-right: 3%;
  margin-left: 3%;
}

#circa {
  margin-top: -8%;
  width: 100%;
  padding-top: 10%;
  margin-left: 32%;
}

.row{
  clear:left;
}


#grid {
  margin-left: 10%;
}
